$heading-bg-color: #03a9f4 !default;
$page-bg-color: #ddd !default;
$fg-color: #fdfdfd !default;
$base-font-size: 16px !default;
$inverted-corner: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path fill="#03a9f4" id="concaveCurve" fill-rule="evenodd" d="M0 0c100 0 100 100 100 100V0z"/></svg>');
$black:black !default;
$white:white !default;
$light-white:#ffffffa6!default;
$red:red !default;
$sky-blue:#03a9f4 !default;
$light-black:#333 !default;
$pink:rgba(223, 39, 230, 0.767) !default;
$blue:rgba(23, 39, 185, 0.755) !default;
$box-shadow-color:rgba(0, 0, 0, 0.56) !default;
$box-shadow-color2:rgba(0, 0, 0, 0.76)!default;
